<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <fieldset>
      <legend>Suvey Form</legend>
      <form action="/result" method="post">
        <label>Your Name:</label>
        <input type="text" name="name" >
        <label>Dojo Location:</label>
        <select name="location">
          <option value="san jose">san jose</option>
          <option value="newyork">newyork</option>
          <option value="burbank">burbank</option>
        </select>
        <label>Favorite Language:</label>
        <select name="language">
          <option value="python">python</option>
          <option value="java">java</option>
          <option value="jacascript">javascript</option>
        </select>
        <label>Comment(optional):</label>
        <textarea name="comment" rows="8" cols="80"></textarea>
        <input type="submit" name="submit">
      </form>
    </fieldset>
  </body>
</html>
